

/* pricing section */


.pricing {
    background-color: #f6f9fc;
    padding-bottom: 100px;
    padding-top: 53px;
}
.pricing-text {}
.pricing-text span{
    color: blue;
   
}
.pricing-text h3::after {
    content: "";
    position: absolute;
    top: 67px;
    left: 47%;
    width: 60px;
    height: 3px;
    background-color: blue;
}
.pricing-text h3{
    position: relative;
}
.pricing-text p{
   
}


/* *********card***** */


.card{
    transition: .7s;
}
.card:hover{
    background-color: blue;
    color: #ffffff;
}
.card:hover .btn-pricing{
    background-color: black;
    color: #ffffff;
    border: black;
    font-weight: 500;
     border-radius: 22px;
    padding: 11px 24px;
}  
.card h4{}
.card h1{}
.text-gray{
    color: #cecece;
}
.card .card-text{
    padding: 40px;
    /* border-top: 1px solid black; */
}
.card-text p{
     font-weight: 400;
}

.btn-pricing {
    border-radius: 22px;
    padding: 11px 24px;
}
 


/* pricing-banar */


.pricing-banar{
    background: url(./free-bg.jpg) no-repeat center  ;
    background-size:  cover;
    padding: 200px;
    position: relative;
    
    z-index: 1;
}
 
.pricing-banar::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    width: 0%;
    background-color: #325bd5;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: .6s;
}
.pricing-banar:hover::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #325bd5;
    opacity: .8;
    z-index: -1;
    visibility: visible;
} 
.pricing-banar-text{
    color: white;
}
.pricing-banar-text h5{}
.pricing-banar-text h2 {
    padding: 2px;
    font-size: 42px;
    position: relative;
}
.affter::after {
    content: "";
    position: absolute;
    top: 73px;
    left: 46%;
    width: 60px;
    height: 3px;
    background-color: #ffffff;
}
.pricing-banar-text p{
    margin-top: 20px;
}
.costom-btn {
    padding: 15px 32px;
    background: #ffffff;
    color: blue;
    font-weight: 500;
    border-radius: 31px;
    text-decoration: none;
    transition: .5s;
}
.costom-btn:hover{
    background-color: black;
    color: white;
}

hr {
    width: 57%;
    margin: auto;
    position: relative;
    left: 76px;
    top: 16px;
}